/* FONT ===================================================== */
@import "https://fonts.googleapis.com/css?family=Lato:300,300i,900,900i";
$font: "Lato", sans-serif;

/* VARIABLES ================================================ */
$background-color: #00407b;
$text-color: white;
$font-size: 16px;
$break-point: 1360px;
